/*
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gabarito:wght@500&family=Red+Hat+Display&display=swap');

 #content{
    max-width: 950px;
    margin:10px auto;
}

body{
    text-align: center;
}
h1{
    font-size: 120px;
    font-family: 'roquen', Times, serif;
}

img{
    max-width: 100%;
    margin:0 auto;
}
h3{
    font-size: 60px;
    color: red;
    bottom: 0;
    position:absolute;
}

 
.image {
    position: left;
  }
.image img {
    /* display: block; 
    width: 40%;
    height: 50%;
}

.box1{
    background-color: #b2beb5;
    width: 500px;
    height:350px;
    justify-content: right;
    align-items: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.box-container{
    display:flex;
}

  .taste {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  text-align: center;
  }
 */
 body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .header {
    position: relative;
    text-align: center;
  }
  
  .header h1 {
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .side-box {
    background-color: #f7f7f7;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;  }
  
  .box-text {
    font-weight: bold;
    font-size: 18px;
    color: red;
  }
  